/* add your css on this page */
body { 
    background-image: url("../img/background.png");   
}

header {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding-top: 0em;
    padding-bottom: 0em;
    background-image: -webkit-linear-gradient(30deg, #ad3b1f 0%, #ad3b1f 30%, #ad3b1f 50%, #ad3b1f 80%, #ad3b1f 100%);
}

#MainArticle {
    border: white 2px solid;
    margin: 20px;
    padding: 100px;
    background-color: #bf9053;opacity: 0.8;
    background-image: url("../img/coffee.png");
}

#logo {
    margin-left: 805px;
}


#menuPlanner,span {
    float: right;
    margin: 0 10px 0 20px;
}

 p {
     
    margin: 0 10px 0 20px;
    color: white;
    padding: 10px 40px;
    font-size: 2.5em;
    margin-left: 0px;
    font-weight: bolder;
    
}

nav {
    position: absolute;
    right: 5.7em;
    top: 5.2em;
    
}

.navItem1 {
    color: white;
    padding: 0em;
    font-size: 2.3em;
    font-weight: bolder;
    text-decoration: none;
    margin: 1em;
    

}

.navItem2 {
    color: white;
    padding: 5.5em;
    font-size: 2.3em;
    font-weight: bolder;
    text-decoration: none;
    margin: 1em;

}

.navItem3 {
    color: white;
    padding: 2em;
    font-size: 2.3em;
    font-weight: bolder;
    text-decoration: none;
    margin: 1em;

}

.navItem4 {
    color: gray;
    padding: 2em;
    font-size: 2.3em;
    font-weight: bolder;
    text-decoration: none;
    margin: 1em;

}

body li {
    font-size: 1.8em;
    font-weight: bolder;
    color: white;
}

aside {
    width: 50%;
  background-color: #ad3b1f;
  border: white 0.6px solid;
  padding: 10px 20px;
  margin: 0 10px 0 20px;
  float: right;
}

h1 {
    font-size: 2em;
    color: white;
}

h3 {
    font-size: 1.8em;
    color: #ea9538 ;
    background-color: #ad3b1f;
}

h4 {
font-size: 1.3em;
color: white;
background-color: #ad3b1f;
}

footer {
    margin: 5px;
    color: white;
    font-size: 1.3em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
  float: left;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 20%;
  padding: 0 7px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
